.main {
    width: 100%;
}
footer {
    background-color: black;
}
nav {
    background-color: black;
    color: #fff;
    align-items: center;
    display: flex;
}
.whole-bg {
    background-image: url('/gameplay-bg.webp');
}
.dialog {
    padding-left: 1em;
    font-size: x-large;
}
.separator {
    border-left: 3px solid #fff;
    margin-left: 1em;
}
nav img {
    margin-left: 1em;
    width: 70px;
}
.board {
    display: flex;
    justify-content: center;
}
button {
    background-color: #3c383f !important;
}