<div class="whole-bg">
    <div class="main">
        <nav class="p-2">
            <button class="btn btn-secondary" routerLink='/'><i class="bi bi-arrow-bar-left"></i>Salir</button> 
            <img src="prota_III.png" />
            <span class="dialog">
                <i class="bi bi-chat-left-text"></i>&ensp;¡Ey {{userName}}! ¡Vamos a abrir los candados!
            </span>
        </nav>
    
        <div class="board p-4">
            <table>
                @for (i of rows; track $index) {
                    <tr>
                        @for (i of columns; track $index) {
                            <td><mine-field></mine-field></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>