<div style="background: linear-gradient(135deg, #001f3f, #0074D9);" class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
        <a class="btn btn-default navbar-brand" href="#"><i class="bi bi-arrow-bar-left"></i>Salir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" href="#">¡Ey {{userName}}! ¡Vamos a desactivar las minas!</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center offset-md-1 p-4">
        <table>
            @for (i of rows; track $index) {
                <tr>
                    @for (i of columns; track $index) {
                        <td><mine-field></mine-field></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>