<div class="whole-bg">
  <div class="login-parent">
    <div class="login-container">
      <form (ngSubmit)="onSubmit()">
          <div class="">
            <label class="label" for="playerName">Ingresa tu nombre</label>
            <mat-form-field appearance="fill">
              <input id="playerName" matInput [(ngModel)]="playerName" name="playerName" laceholder="Máquina">
            </mat-form-field>
          </div>
          <button mat-flat-button type="submit" class="">¡&ensp;Jugar&ensp;!</button>
      </form>
    </div>
  </div>
</div>