<style>
    
</style>
<div class="offset-md-4">
    <div class="login-container">
      <!-- div class="container">
        <img class="img-fluid img-contained" src="logo_I.webp" />
      </div -->
      <div class="login-header mt-2 text-center">
          <h1 style="color: #fff;">#B0M8ERM1ND</h1>
      </div>
      <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="label" for="playerName">Enter your name</label>
            <input type="text" class="form-control" id="playerName" [(ngModel)]="playerName" name="playerName" required>
          </div>
          <button type="submit" class="btn btn-danger w-100">Play!</button>
      </form>
    </div>
  </div>