<style>
</style>

<main class="mt-3">
  <div class="offset-md-4 col-md-4 row">
    <div class="container">
      <img class="img-fluid img-contained" src="logo_I.webp" />
    </div>
  </div>
  <div class="offset-1 offset-md-4 col-md-4 row mt-3 mb-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form style="font-size: x-large;" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="label" for="playerName">Enter your name</label>
            <input type="text" class="form-control" id="playerName" [(ngModel)]="playerName" name="playerName" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Play</button>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
